/Debug/*.exe
/Debug/*.pdb
/Demo/Debug/
/ipch
/*.sdf
/report/*.log
/report/*.aux
/report/*.make
/report/*.bbl
/report/*.blg
/report/*.d
/report/*.fls
*.swp
/*.opensdf
/*.caw
/Makefile.in
/Polyspasm.tar.gz
/aclocal.m4
/autom4te.cache
/configure
/depcomp
/install-sh
/missing
/test
